*,
html {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  max-width: 1280px;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: 'Montserrat', sans-serif;
}
