.Home-mission {
  padding: 2rem;
  margin: 0;
  width: 100%;
  text-align: justify;
}

.Home-mission p {
  font-size: 0.7rem;
  font-style: italic;
  text-align: right;
}

.Home-aboutUsContainer {
  padding: 1rem 2rem;
  text-align: justify;
  width: 100%;
}

.Home-aboutUsContainer h1 {
  text-align: center;
}

.Home-aboutUsImg {
  box-sizing: border-box;
  width: fit-content;
  margin: auto;
}

@media (max-width: 40rem) {
    iframe {
      width: 100%;
      padding: 0 2rem;
    }
  }

@media (min-width: 500px) {
  iframe {
    margin-left: 2rem;
  }

  .Home-mission {
    padding-right: 2rem;
    margin: auto;
    width: 40%;
  }
  .Home-aboutUsContainer {
    width: 50%;
  }
}