.Hours {
    text-align: center;
    font-size: 0.8rem;
    margin-bottom: 1rem;
}

.Hours-adnotation {
    font-size: 0.8rem;
    font-style: italic;
    width: 100%;
    padding-top: 1rem;
    margin: 0 auto;
}

@media (min-width: 500px) {
    .Hours {
        width: 33.3%;
    }
    
}