.Footer {
    display: flex;
    flex-direction: column; 
}

.Footer-components {
    background: #142850;
    color: white;
    padding-bottom: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 500px) {
    .Footer-components {
        flex-direction: row;
        align-items: flex-start;
    }
}