.Adopt-text {
    width: 100%;
}

.Adopt-text_small {
    font-size: 0.7rem;
    font-style: italic;
    text-align: right;
}

.Adopt-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

@media (min-width: 500px) {
    .Adopt-text {
        width: 50%;
    }
}