.Card {
    padding: 1.5rem 0;
    margin: 0 auto;
}

.Card-icon {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #00a8cc;
    color: white;
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
    margin: 0 auto 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Prata', serif;
    letter-spacing: 0.1rem;
}

.Card-icon:hover {
    color: #0c7b93;
    background: white;    
}

.Card-text {
    text-align: justify;
    width: 100%;
    padding: 0.5rem 0;
}

@media (min-width: 500px) {
    .Card {
        width: 30%;
        padding: 0;
        margin: 0 auto;
    }

    .Card-text {
        padding: 0.5rem 3rem;
        margin: 0 auto;
    }
}