.Animals {
    background:  rgba(12, 122, 146, 0.9);
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

@media (min-width: 500px) {
    .Animals {
        display: grid;
        grid-template-columns: auto auto auto;
    }
}

